body {
  padding: 0px;
  font: 16px "Oxygen", "Lucida Grande", Helvetica, Arial, sans-serif;
}

#navigation-bar {
  color: white;
  background-color: #FF5252;
  box-shadow: 0px 0px 16px rgba(0,0,0,0.6);
}

#navigation-bar a {
  margin: 0 auto;
}

#navigation-bar ng-md-icon {
  display: inline-block;
  fill: white;
  margin-right: 5px;
  margin-bottom: 10px;
}

#navigation-bar h3 #navigation-header {
  font-size: 28px;
}

#suggestions {
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 10px;
}

/* Custom Styles for Date/Timer Picker */

.time-date > .control > .slider > .date-control {
  /* hide overflow-x on Firefox */
  overflow: hidden;
}

/* back/forward arrows */
.title .md-button {
  min-width: 0;
}

.time-date > .control > .slider > .date-control > .headers {
  margin-top: 0;
}

/* date cells */
.time-date > .control > .slider > .date-control .day-cell {
  min-height: 0;
  min-width: 0;
  margin: 0;
  padding: 0;
}

/* switch control buttons */
.time-date > .control > .slider > .switch-control {
  margin: 0;
  min-width: 0;
  font-size: 18px;
}
