body {
  padding: 0px;
  font: 16px "Oxygen", "Lucida Grande", Helvetica, Arial, sans-serif;
}

#navigation-bar {
  color: white;
  background-color: #FF5252;
  box-shadow: 0px 0px 16px rgba(0,0,0,0.6);
  position: fixed;
}

#navigation-bar a {
  margin: 0 auto;
}

#navigation-bar ng-md-icon {
  display: inline-block;
  fill: white;
  margin-right: 5px;
  margin-bottom: 10px;
}

#navigation-bar h3 #navigation-header {
  font-size: 28px;
}

#suggestions, #search-add-row, form {
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 10px;
}

/* http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#left */
#search-add-row #button-element-flex {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

#add-event-button {
  background-color: #FF5252;
  color: white;
  width: 50%;
}

.collapse-card {
  border-bottom: 1px solid #ccc;
}

.event-title {
  font-weight: bold;
}

.event-time {
  display: inline-block;
  float: right;
}

.event-time ng-md-icon[icon='access_time'] {
  height: 18px;
  width: 18px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.event-time .from-date, .event-time .to-date {
  font-size: 0.70rem;
}

.event-time .from-time, .event-time .to-time {
  font-size: 0.65rem;
}

.from-date {
  font-weight: bold;
}

.to-date {
  font-weight: bold;
}

.from-date-time, .to-date-time {
  display: block;
  clear: both;
  float: right;
}

.collapse-card__body {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0rem;
  padding-bottom: 3.5rem;
}

.event-information {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px;
  border-radius: 5px;
}

.event-information .event-location {
  display: block;
}

.event-information .event-description {
  display: block;
}

.event-information .event-participants {
  display: block;
}

.event-information .event-location span.event-info-title {
  font-weight: bold;
}

.event-information .event-description span.event-info-title {
  font-weight: bold;
}

.event-information .event-participants span.event-info-title {
  font-weight: bold;
}

.modification-buttons {
  float: right;
}

form {
  margin-top: 64px;
  display: block !important;
  clear: both;
}

form a, form button {
  width: 25%;
  display: inline-block;
  float: right;
}

/* Custom Styles for Date/Timer Picker */

.time-date > .control > .full-title {
  background-color: #FF5252;
}

.time-date button, .time-date .button {
  color: #FF5252;
}

.time-date > .control > .slider > .date-control > .days .day-cell.selected {
  background-color: #FF5252;
}

.time-date.full-mode > .buttons {
  background-color: #FF5252;
}

.time-date > .control > .slider > .date-control > .days .day-cell:hover, .time-date > .control > .slider > .date-control > .days .day-cell:active {
  color: #e6e6e6;
  background-color: #FF5252;
}

.time-date > .control > .slider > .date-control {
  /* hide overflow-x on Firefox */
  overflow: hidden;
}

/* back/forward arrows */
.title .md-button {
  min-width: 0;
}

.time-date > .control > .slider > .date-control > .headers {
  margin-top: 0;
}

/* date cells */
.time-date > .control > .slider > .date-control .day-cell {
  min-height: 0;
  min-width: 0;
  margin: 0;
  padding: 0;
}

/* switch control buttons */
.time-date > .control > .slider > .switch-control {
  margin: 0;
  min-width: 0;
  font-size: 18px;
}

/*#start-time-date-picker {
  position: absolute;
  width: 50%;
  height: 50%
  z-index: 9999;
}*/

@media screen and (max-width: 599px) {
  #search-add-row #button-element-flex {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row /* works with row or column */
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
}
