<!-- This web form is loosely based on the ng-validate example on W3 Schools. -->
<form layout="column" name="eventForm" ng-submit="formCtrl.saveEventInfo()">
  <md-content layout-padding class="autoScroll">
    <md-input-container md-no-float>
      <ng-md-icon icon="event_available"></ng-md-icon>
      <input ng-model="formCtrl.event.title" type="text" name="title" placeholder="Title (required)" ng-required="true">
    </md-input-container>
    <md-input-container md-no-float>
      <ng-md-icon icon="description"></ng-md-icon>
      <input ng-model="formCtrl.event.description" type="text" name="description" placeholder="Description (required)" ng-required="true">
    </md-input-container>
    <md-input-container md-no-float>
      <!-- Use floating placeholder instead of label -->
      <ng-md-icon icon="location_on"></ng-md-icon>
      <input ng-model="formCtrl.event.location" type="text" name="location" placeholder="Location (required)" ng-required="true">
    </md-input-container>
    <md-input-container md-no-float>
      <ng-md-icon icon="people"></ng-md-icon>
      <input ng-model="formCtrl.event.participants" type="text" name="participants" placeholder="Participants (required, separate by comma)" ng-required="true">
    </md-input-container>
    <div layout layout-sm="column">
      <md-input-container flex>
        <ng-md-icon icon="access_time"></ng-md-icon>
        <input ng-model="formCtrl.event.from" type="text" name="from" placeholder="Start Date" ng-required="true" ng-click="formCtrl.renderTimePicker()">
      </md-input-container>
      <md-input-container flex>
        <ng-md-icon icon="access_time"></ng-md-icon>
        <input ng-model="formCtrl.event.to" type="text" name="to" placeholder="End Date" ng-required="true" ng-click="formCtrl.renderTimePicker()">
      </md-input-container>
    </div>
  </md-content>
  <div class="form-buttons">
    <!-- Navigate to state 'suggestions' with no params. -->
    <md-button ui-sref="suggestions" class="md-raised md-warn">Cancel</md-button>
    <!-- ng-disabled is based on interactions with inputs with the corresponding name attributes. -->
    <md-button ui-sref="suggestions" class="md-raised" style="background-color:#42bd41;" type="submit" ng-disabled="eventForm.title.$dirty && eventForm.title.$invalid">Submit</md-button>
  </div>
</form>
