<div id="search-add-row">

</div>

<!-- Button -->

<!-- Search Bar -->


<!-- List of Events -->
<div id="suggestions">
  <div ng-repeat="event in suggestionsCtrl.events" on-finish-render="ngRepeatFinished">
    <div class="collapse-card">
      <div class="collapse-card__heading">
        <div class="collapse-card__title">
          <ng-md-icon icon="event_available"></ng-md-icon>
          <span class="event-title">{{event.title}}</span> <!-- Title Text -->
        </div>
      </div>
      <div class="collapse-card__body">
        {{event.description}}
      </div>
    </div>
  </div>
</div>



<!-- <md-list>
  <md-item ng-repeat="item in activity | filter:search">
    <md-item-content>
      <div class="md-tile-left inset" hide-sm>
          <user-avatar></user-avatar>
      </div>
      <div class="md-tile-content">
        <h3>Hello World!</h3> -->
        <!-- <h4>{{item.who}}</h4>
        <p>
          {{item.notes}}
        </p> -->
      <!-- </div>
    </md-item-content>
    <md-divider md-inset hide-sm ng-if="!$last"></md-divider>
    <md-divider hide-gt-sm ng-if="!$last"></md-divider>
  </md-item>
</md-list> -->
