<div id="search-add-row" layout layout-sm="column">
  <md-input-container id="search-element-flex" flex>
    <label><ng-md-icon icon="search"></ng-md-icon> Search EventTracker</label>
    <!-- Excellent reference for figuring out filtering with input search: http://fdietz.github.io/recipes-with-angular-js/common-user-interface-patterns/filtering-and-sorting-a-list.html -->
    <input type="text" ng-model="query.title">
  </md-input-container>
  <md-input-container id="button-element-flex" flex>
    <md-button id="add-event-button" class="md-raised"><ng-md-icon icon="add_circle"></ng-md-icon> Add Event</md-button>
  </md-input-container>
</div>

<!-- List of Events -->
<div id="suggestions">
  <!-- Order By createdAt date: http://stackoverflow.com/questions/16261348/descending-order-by-date-filter-in-angularjs -->
  <div ng-repeat="event in suggestionsCtrl.events | filter:query | limitTo:10 | orderBy:'created_at':true" on-finish-render="ngRepeatFinished">
    <div class="collapse-card">
      <div class="collapse-card__heading">
        <div class="collapse-card__title">
          <ng-md-icon icon="event_available"></ng-md-icon>
          <span class="event-title">{{event.title}}</span> <!-- Title Text -->
          <span class="event-time">
            <ng-md-icon icon="access_time"></ng-md-icon>
            <span class="from-date">{{event.from | date:'mediumDate'}}</span>
            <span class="from-time">{{event.from | date:'shortTime'}}</span>
            -
            <span class="to-date">{{event.to | date:'mediumDate'}}</span>
            <span class="to-time">{{event.to | date:'shortTime'}}</span>
        </div>
      </div>
      <div class="collapse-card__body">
        <div class="event-information">
          <span class="event-location">
            <span class="event-info-title"><ng-md-icon icon="location_on"></ng-md-icon> Location: </span>{{event.location}}
          </span>
          <span class="event-description">
            <span class="event-info-title"><ng-md-icon icon="description"></ng-md-icon> Description: </span>{{event.description}}
          </span>
          <span class="event-participants">
            <span class="event-info-title"><ng-md-icon icon="people"></ng-md-icon> Participants: </span><span ng-repeat="participant in event.participants">{{participant}}{{$last ? '' : ', '}}</span>
          </span>
        </div>
        <span class="modification-buttons">
          <!-- Navigate to state 'edit' with params. Send the event's unique id. -->
          <md-button ui-sref="edit({id: event._id})" class="md-raised md-primary"><ng-md-icon icon="mode_edit"></ng-md-icon>Edit Event</md-button>
          <!-- Delete an event by clicking this button. -->
          <md-button ui-sref="suggestions" class="md-raised md-warn" ng-click="suggestionsCtrl.deleteEvent($index, event._id)"><ng-md-icon icon="delete"></ng-md-icon>Delete Event</md-button>
        </span>
      </div>
    </div>
  </div>
</div>
